.AdultProfile {
  padding: 2rem;
  display: block;
  // height: 100vh;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../../../images/c-j-brown-pathforProfileBG.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  .GuildFormModalButton, .CircleFormModalButton, .GatheringHallFormModalButton {
    margin-bottom: 1rem;
  }
  h2.ui.header{
    color: lightgray;
  }
}