// .MessageContainer {
//   display: block;

// }
// .singleMessage {
//   padding: 20px;
// }
.CircleMessageContainer {
  margin-top: 1rem;
}

.messageBoardTitle {
  color: lightgray;
}
.gridMessageContainer {
  margin-top: 1rem;
  background-color: rgba(0, 0, 0, 0.4);
  height: 32rem;
  overflow-y: auto;
}